<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Store @ViewBag.Title</title>
    <!-- PLUGINS CSS STYLE -->
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />

    <link href="~/plugins/selectbox/select_option1.css" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="main-wrapper">
        <!-- HEADER -->
        <div class="header clearfix">
            <!-- TOPBAR -->
            <div class="topBar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <ul class="list-inline pull-right">
                                <li><span><a data-toggle="modal" href='#login'>Log in</a><small>or</small><a data-toggle="modal" href='#signup'>Create an account</a></span></li>
                                <li class="dropdown searchBox">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <span class="input-group">
                                                <input type="text" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                                                <span class="input-group-addon" id="basic-addon2">Search</span>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>$0</a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>Item(s) in your cart</li>
                                        <li>
                                            <a href="#">
                                                <div class="media">
                                                    <img class="media-left media-object" src="~/img/home/cart-items/cart-item-01.jpg" alt="cart-Image">
                                                    <div class="media-body">
                                                        <h5 class="media-heading">INCIDIDUNT UT <br><span>2 X $199</span></h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="media">
                                                    <img class="media-left media-object" src="~/img/home/cart-items/cart-item-01.jpg" alt="cart-Image">
                                                    <div class="media-body">
                                                        <h5 class="media-heading">INCIDIDUNT UT <br><span>2 X $199</span></h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="btn-group" role="group" aria-label="...">
                                                <button type="button" class="btn btn-default">Shopping Cart</button>
                                                <button type="button" class="btn btn-default">Checkout</button>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- NAVBAR -->
            <nav class="navbar navbar-main navbar-default" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="~/img/logo.png" alt=""></a>
                    </div>

                    <!-- Top Menu -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="Admin" asp-action="Index">@User.Identity.Name;</a></li>
                                <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        @RenderBody()
        <!-- COPY RIGHT -->
        <div class="copyRight clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-xs-12">
                        <p>&copy; 2016 Copyright Bootstrap Template by <a target="_blank" href="http://www.iamabdus.com/">Abdus</a>.</p>
                        <p>&copy; 2016 CoreNet C# implementation <a target="_blank" href="https://github.com/asasar/">Alexis Salinas</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN MODAL -->
    <div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">log in</h3>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" role="form">
                        <div class="form-group">
                            <label for="">Enter Email</label>
                            <input type="text" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" id="">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">log in</button>
                        <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- SIGN UP MODAL -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Create an account</h3>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" role="form">
                        <div class="form-group">
                            <label for="">Enter Email</label>
                            <input type="email" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <label for="">Confirm Password</label>
                            <input type="password" class="form-control" id="">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

     <script src="~/lib/jquery-ui/jquery-ui.js"></script>
     @RenderSection("script", false)
</body>
</html>
